<address>
  <strong>Bazahey, Inc.</strong><br>
  1804 Seville Way<br>
  San Jose, CA 95131<br>
  <abbr title="Phone">P:</abbr> (352) 871-4307
</address>

<address>
  <strong>Email</strong><br>
  <a href="mailto:#">abc@gmail.com</a>
</address>

